h2{
  color:crimson;
  font-family: verdana;
  font-size: 110%;
  background-color: #d3ffd1;
  text-align: center;
  text-shadow: 2px 2px 5px salmon;
}
body{
  background-color: #ffd6d6;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #d3ffd1;
  border-bottom-color:lightcoral;
  color: darkcyan;
}
input[type=text]:focus{
  background-color: #ccdbff;
  width: 50%;
}
input[type=password]:focus{
  background-color: #ccdbff;
  width: 50%;
}
input[type=submit]:focus{
  background-color: #ded0ff;
  width: 80%;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
